<% if current_employee.role =="HR" %>
  <h1 style="text-align:center">Interviews scheduled by you</h1>
  <%= render "interview_table", { objects: @interviews } %>
<% elsif current_employee.role =="Resource" %>
  <h1 style="text-align:center">Upcoming Interviews</h1>
  <%= render "interview_table", { objects: @upcoming_interviews } %><br>
  <h1 style="text-align:center">Completed Interviews</h1>
  <%= render "interview_table", { objects: @completed_interviews } %><br>
  <h1 style="text-align:center">Pending Interviews</h1>
  <%= render "interview_table", { objects: @pending_interviews } %>
<% end %>
